<title>HEADER </title>
    <% if (!email) { %>
        <a href="/register">Register</a><br/>
        <p></p>
        <a href="/login">Login</a>
    <% } else { %>
         <%= email %>
        <form method="POST" action="/logout">
        <input type="submit" value="Logout">
        </form>
    <% } %>
