<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TinyApp Register</title>
    </head>
    <body>
        <header>
        </header>
        <form method="POST" action="/register">
            <label>Email:</label>
            <input name="email" type="email"><br/>
            <p></p>
            <label>Password: </label>
            <input name="password" type="password"><br/>
            <p></p>
            <input type="submit" value="Register">
        </form>
    </body>
</html>