<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
   <header>
    <% include ../views/partials/_header %>
  </header>

  <p>ShortURL: <b><%= shortURL %></b></p>

  <form method="POST" action="/urls/<%= shortURL %>/update">
    <input name="fullURL" value="<%= fullURL %>">
    <input type="submit" class="like" value="Update">
  </form>

</body>
</html>
