<!DOCTYPE html>
<html lang="en">
    <head>
        <title>urls_show</title>
    </head>
    <body>
        <header>
            <% include ./partials/_header %>
        </header>
        <p></p>
        <p>ShortURL: <b><%= shortURL %></b></p>

        <form method="POST" action="/urls/<%= shortURL %>/update">
            <input name="fullURL" value="<%= fullURL %>">
            <input type="submit" class="like" value="Update">
        </form><br/>

      <a href="/urls" "><b>Go to Urls</b></a>
    </body>
</html>
