<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
   <header>
    <% include ../views/partials/_header %>
  </header>
  <p><%= fullURL %> - <%= shortURL %></p>
</body>
</html>
