<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <header>
    <% include ./partials/_header %>
  </header>
  <h2>LIST of URLS</h2>

    <ul>
      <% urls.forEach((url) => { %>
            <li>
              <%= url %> - <a href ="#"><%= url.longURL %></a>
              <a href="/urls/<%= url %>" ">Edit</a><br/>
              <form method="POST" action="/urls/<%= url %>/delete"><input type="submit" class="like" value="Delete url"></form><br/>
            </li>
      <% }) %>
    </ul>

  <a href ="#">Add a url:</a>
</body>
</html>
